/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* adding body margin */
body {
    margin: 25px 100px;
}

/* editing nav anchors*/
nav a {
    color: grey;
}

nav {
    display: flex;
}

.navs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.logo-container {
    width: 15%;
}

.logo {
    justify-content: center;
}

@media (max-width: 800px) {
    nav {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .navs {
        width: 100%;
    }
    .logo-container {
        width: 100%;
        text-align: center;
        padding: 25px 0px;
    }
}

@media (max-width: 500px) {
    .navs {
        flex-direction: column;
        height: 250px;
    }    
    .navs a {     
        border-bottom: 1px solid grey;
        padding: 10px 0px;
        width: 100%;
        text-align: center;
    }
    .logo-container {
        padding: 25px 0px 10px 0px;
        border-bottom: 1px solid grey;
    }
}

@keyframes ani {
    from {background-color: white;}
    to {background-color: yellow;}
  }

a:hover {
    animation-name: ani;
    animation-duration: 3s;
} 

/* header */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0px;
}

.header-left {
    text-align: center;
}

h1{
    font-size: 75px;
    margin: 0;
}

.button-box {
    padding: 20px;
    text-align: center;
}

.button {
    border: 2px solid black;
    padding: 5px;
    width: 125px;
    text-align: center;
    margin-left: 70px;
}

@media (max-width: 800px) {
    header img {
       display: none; 
    }
    .header-left {
        padding: 25px 0px;
    }
}

/* section above image */

.upper-section {
    border-top: 2px solid black;
    padding: 25px 0px;
    display:flex;
    justify-content: space-between;
}

.us-left {
    width: 45%;
}

.us-right {
    width: 45%;
}

@media (max-width: 500px) {
    .upper-section {
        flex-direction: column;
    }
    .us-left, .us-right {
        width: 100%;
    }
    .us-left{
        padding-bottom: 25px;
    }
}

/* image */

.middle-img {
    width: 100%;
}

/* lower-section */

.lower-section {
    border-bottom: 2px solid black;
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
}

.ls-left, .ls-middle, .ls-right {
    width: 30%;
}

@media (max-width: 500px) {
    .lower-section {
        flex-direction: column;
    }
    .ls-left, .ls-middle, .ls-right {
        width: 100%;
    }
    .ls-left, .ls-middle {
        padding-bottom: 25px;
    }
}

/* contact */

.contact {
    padding: 25px 0px;
}

.phone {
    padding: 10px 0px;
}

/* footer */

footer {
    text-align: center;
    margin-bottom: 50px;
}