/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* adding body margin */
body {
    margin: 25px 100px;
}

/* editing nav anchors*/
nav a {
    color: grey;
    text-decoration: none;
}

nav {
    display: flex;
}

.navs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

@keyframes ani {
    from {background-color: white;}
    to {background-color: yellow;}
  }

a:hover {
    animation-name: ani;
    animation-duration: 3s;
} 

@media (max-width: 800px) {
    nav {
        flex-direction: column-reverse;
        justify-content: center;
        padding-bottom: 10px;
    }
    .navs {
        width: 100%;
    }
    .logo-container {
        width: 100%;
        text-align: center;
        padding: 25px 0px;
    }
}

@media (max-width: 500px) {
    .navs {
        flex-direction: column;
        height: 250px;
    }    
    .navs a {     
        border-bottom: 1px solid grey;
        padding: 10px 0px;
        width: 100%;
        text-align: center;
    }
    .logo-container {
        padding: 25px 0px 10px 0px;
        border-bottom: 1px solid grey;
    }
}

/* header */

.services-header-img {
    width: 100%;
    padding: 10px 0px;
}

/* section below image */

.services {
    width: 100%;
    padding: 10px 0px;
}

.areas {
    padding: 10px 0px;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.area {
    width: 48%;
    border: 2px solid black;
    background-color: lightgrey;
    padding: 10px;
    margin: 10px 0px;
}

.button {
    padding: 10px 25px;
    margin: 10px 0px;
    width: 35%;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
}

@media (max-width: 800px) {
    .button {
        width: 70%;
    }
}

@media (max-width: 500px) {
    .button {
        width: 75%;
    }
}

.bottom-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 25px 0px;
}

.ls {
    width: 45%;
    margin: 10px 0px;
}

.bottom-section img {
    width: 45%;
    margin: 10px 0px;
}

@media (max-width: 800px) {
    .bottom-section img {
        display: none;
    }
    .ls {
        width: 100%;
    }
}

ol {
    list-style-type: circle;
    margin-left: 25px;
    margin-top: 25px;
}

li {
    margin: 15px 0px;
}

footer {
    text-align: center;
    margin: 100px 0px 50px 0px;
}
